* {
    margin: 0;
    padding: 0
}
html {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.7);
}
body {
    position: absolute;
    height:calc(100%);
    width:100%;
}
.caption_bar {
    color: white;
    line-height: 30px;
    height: 30px;
    background-color: cadetblue;
}
.caption {
    color: white;
    margin-left:2px;
    padding:0;
    float:left;
}
.caption_button{
    color: red;
    float:right;
    margin-right:10px;
}
.app_icon {
    padding: 0;
    margin:4px;
    width: 22px;
    height: 22px;
    float: left;
}
.window_client {
    padding: 6px;
    background: #ff0000;
    background: rgba(255,0,0,0.4);
    height: calc(100% - 42px);
}