@*tne://to_html*@
@{
    ViewBag.Title = "TMniniblink测试程序";
    Layout = "Layout/_Layout.cshtml";
}
@section styles{
    <style>
        .button {
            color: white;
            padding-right:10px;
            padding-left:10px;
        }
    </style>
}
@section scripts{
    <script src="Script/Default.js"></script>
}
<h4>窗口测试</h4>
<hr/>
<p><a class="button" href="javascript:CreateSubFormTest1()">创建子窗口-居中于父窗口</a></p>
<p><a class="button" href="javascript:CreateSubFormTest2()">创建子窗口-居中于屏幕</a></p>
<p><a class="button" href="javascript:CreateSubFormTest3()">创建子窗口-使用XY</a></p>
<p><a class="button" href="javascript:CreateSubFormTest4()">创建子窗口-做为对话框</a></p>
<p><a class="button" href="javascript:CreateSubFormTest5()">创建子窗口-使用file协议</a></p>
<p><a class="button" href="javascript:RunInSubFormTest1()">跨窗口通讯-最小化子窗口</a></p>
<p><a class="button" href="javascript:RunInSubFormTest2()">跨窗口通讯-在子窗口执行脚本</a></p>
<p><a class="button" href="javascript:RunInSubFormTest3()">跨窗口通讯-在子窗口执行简单脚本</a></p>
<p><a class="button" href="javascript:RunInSubFormTest4()">跨窗口通讯-隐藏子窗口</a></p>
<p><a class="button" href="javascript:RunInSubFormTest5()">跨窗口通讯-显示子窗口</a></p>
<p><a class="button" href="javascript:SetWindow1()">窗口操作-窗口置顶</a></p>
<p><a class="button" href="javascript:SetWindow2()">窗口操作-指定最小宽高</a></p>
<p><a class="button" href="javascript:SetWindow3()">窗口操作-指定不可改变宽高</a></p>
<p><a class="button" href="javascript:SetWindow4()">窗口操作-指定不显示在任务栏</a></p>
<p><a class="button" href="javascript:SetWindow5()">窗口操作-指定显示在任务栏</a></p>
<p><a class="button" href="javascript:SetWindow6()">窗口操作-设置图标</a></p>
<p><a class="button" href="javascript:SetWindow7()">窗口操作-开启文件拖放</a></p>
<p><a class="button" href="javascript:SetWindow8()">窗口操作-开启右键菜单</a></p>
<p><a class="button" href="javascript:SetWindow9()">窗口操作-显示目录选择对话框</a></p>
<p><a class="button" href="javascript:SetWindow10()">窗口操作-显示文件选择对话框</a></p>
<p><a class="button" href="javascript:SetWindow11()">窗口操作-显示文件保存对话框</a></p>
<p><a class="button" href="javascript:SetWindow12()">创建托盘图标</a></p>
<p><a class="button" href="javascript:SetWindow13()">隐藏托盘图标</a></p>
<p><a class="button" href="javascript:SetWindow14()">显示托盘消息</a></p>
<p><a class="button" href="javascript:SetWindow15()">修改托盘图标</a></p>
<p><a class="button" href="javascript:SetWindow16()">显示托盘图标</a></p>
