@*tne://to_html*@
@{
    ViewBag.Title = "TMniniblink测试程序";
    Layout = "_LayoutForContextMenu.cshtml";
}
@section styles{
    <style>
        .menu_item {
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: white;
        }
            .menu_item:hover {
                background-color: rgba(95,158,160,0.3);
                color: #e5e580;
            }
    </style>
}
@section scripts{
}
<div class="menu_item">星辰之主</div>
<div class="menu_item">问镜</div>
<div class="menu_item">将夜</div>