@*tne://to_html*@
@{
    ViewBag.Title = "TMniniblink测试程序";
    Layout = "../../Layout/_Layout.cshtml";
}
@section styles{
    <style>
        .button {
            color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
    </style>
}
@section scripts{
    <script src="../../Script/Default.js"></script>
}
<h4>窗口测试</h4>
<hr />
<p><a class="button" href="javascript:RunInParentFormTest1()">父窗口最小化</a></p>
<p><a class="button" href="javascript:RunInParentFormTest2()">父窗口激活</a></p>
<p><a class="button" href="javascript:RunInParentFormTest3()">在父窗口执行脚本</a></p>