@*tne://to_html*@
@{
    ViewBag.Title = "TMniniblink测试程序";
    Layout = "../../Layout/_Layout.cshtml";
}
@section styles{
    <style>
        .button {
            color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
    </style>
}
@section scripts{
    <script src="Tne://Tnelab.TneForm.Test/ui/script/Default.js"></script>
}
<h4>这是使用File协议加载的url</h4>