@*tne://to_html*@
@{
    ViewBag.Title = "TMniniblink测试程序";
    Layout = "../../Layout/_Layout.cshtml";
}
@section styles{
    <style>
        .button {
            color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
    </style>
}
@section scripts{
    <script src="../../Script/Default.js"></script>
}
<h4>窗口测试</h4>
<hr />
<p>
    <a class="button" href="javascript:CreateSubFormTest()">创建子窗口</a>
</p>